# ignore the text editors
*~
*.autosave
.*.sw*
~$*

# ignore the building
build
*build
cmake-build-debug/

# ignore the previous svn dir
.svn

# ignore the idea
.idea/

# ignore the images
*.jpg
*.png
